* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

* {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

* {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
}

